<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
    <h2 class="card-title text-center text-white py-3">Employee Management System</h2>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
          <a routerLink="employees"  class="btn btn-warning">Employee List</a> 
          </li>
          <li class="list-inline-item">
          <a routerLink="create-employee"  class="btn btn-success"> Add Employee</a>
        </li>
           
      </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    
  <footer class="footer">
    <div class="container" text-center>
      <span>All Rights Reserved 2023 @Edubridge Learning</span>
    </div>
  </footer>
  <router-outlet></router-outlet>
  
